<div{{attributes}} class="card text-white bg-dark bg-gradient container pt-4 px-5">
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.surface) }}
	{{ form_row(form.nbrRoom) }}
	{{ form_row(form.nbrBed) }}
	{{ form_row(form.isAnimalAllowed) }}
	{{ form_row(form.animalPrice) }}
	{{ form_row(form.description) }}
	{{ form_row(form.EquipementInts) }}
	{{ form_row(form.equipementExts) }}
	{{ form_row(form.contact) }}
	<hr>	
	<h5>Services :</h5>
	{% for key, giteServiceForm in form.giteServices %}
		{{ form_widget(giteServiceForm) }}
		<button data-action="live#action" data-action-name="removeGiteService(index={{ key }})" type="button"  class="btn btn-danger">Supprimer l'ajout de service</button>
	{% endfor %}
	<button data-action="live#action" data-action-name="addGiteService" type="button" class="btn btn-primary">Ajouter un service supplémentaire</button>
<hr>
	<h5>Photos :</h5>
	{% for key, photoForm in form.photos %}
		{{ form_widget(photoForm) }}
		<button data-action="live#action" data-action-name="removePhoto(index={{ key }})" type="button"  class="btn btn-danger">supprimer l'ajout de photo</button>
	{% endfor %}
	<button data-action="live#action" data-action-name="addPhoto" type="button" class="btn btn-primary">Ajouter une photo supplémentaire</button><br>
	<hr>
	<h5>Periodes :</h5>
	{% for key, periodeForm in form.periodes %}
		{{ form_widget(periodeForm) }}
		<button data-action="live#action" data-action-name="removePeriode(index={{ key }})" type="button"  class="btn btn-danger">supprimer l'ajout d'une période</button>
	{% endfor %}
	<button data-action="live#action" data-action-name="addPeriode" type="button" class="btn btn-primary">Ajouter une période supplémentaire</button><br>
<hr>
	<div class="my-5">
	<button type="submit" class="btn btn-success">Enregistrer</button>
</div>
	{{ form_end(form) }}
</div>
