<div{{attributes}} class="card text-white bg-dark container p-3">

<div  class="text-white border border-light p-5 m-3 rounded-4">
<h2 class="my-3 text-center">Informations</h2>
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.surface) }}
	{{ form_row(form.nbrRoom) }}
	{{ form_row(form.nbrBed) }}
	{{ form_row(form.isAnimalAllowed) }}
	{{ form_row(form.animalPrice) }}
	{{ form_row(form.description) }}
	{{ form_row(form.EquipementInts) }}
	{{ form_row(form.equipementExts) }}
	{{ form_row(form.contact) }}
	</div>

<div class="text-white border border-light p-5 m-3 rounded-4">
	<h2 class="my-3 text-center">Services</h2>
	{% for key, giteServiceForm in form.giteServices %}
		{{ form_widget(giteServiceForm) }}
		<button data-action="live#action" data-action-name="removeGiteService(index={{ key }})" type="button" class="btn btn-sm btn-danger">Supprimer</button>
	{% endfor %}
	<button data-action="live#action" data-action-name="addGiteService" type="button" class="btn btn-sm btn-primary">Ajouter</button>
	</div>

	<div class="text-white border border-light p-5 m-3 rounded-4">
	<h2 class="my-3 text-center">Photos</h2>
	{% for key, photoForm in form.photos %}
		{% if loop.first == true %}
			<div class="text-center">Photo Principale</div>
		{% else %}
			<div class="text-center mt-5">Photo Secondaire</div>
		{% endif %}
		{{ form_widget(photoForm) }}
		<button data-action="live#action" data-action-name="removePhoto(index={{ key }})" type="button" class="btn btn-sm btn-danger">Supprimer</button>
	{% endfor %}
	<button data-action="live#action" data-action-name="addPhoto" type="button" class="btn btn-sm btn-primary">Ajouter</button><br>
	</div>

	<div class="text-white border border-light p-5 m-3 rounded-4">
	<h2 class="my-3 text-center">Periodes</h2>
	{% for key, periodeForm in form.periodes %}
		{{ form_widget(periodeForm) }}
		<button data-action="live#action" data-action-name="removePeriode(index={{ key }})" type="button" class="btn btn-sm btn-danger">Supprimer</button>
	{% endfor %}
	<button data-action="live#action" data-action-name="addPeriode" type="button" class="btn btn-sm btn-primary">Ajouter</button><br>
	</div>

		
		<button type="submit" class="text-center btn btn-outline-light mt-3">Enregistrer</button>
	
	{{ form_end(form) }}
</div>
